<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Clemson Google" 2015 Offensive Stat Leaders</title>
</head>

<body background=http://www.clemson.edu/administration/public-affairs/toolbox/downloads/logos/logos/paw.gif style="text-align:center; background-color: purple; color: white">
<h1>"Clemson Google"
    2015 Offensive Stats </h1>
<h2>2015 ACC Champions </h2>
<h3>2015 Record: 14 - 1 (Conf: 8-0) </h3>

{% for player in players %}
    <div><strong>{{ player.player_name }}</strong> #{{ player.jersey_number }}</div>

    <div>Position: {{ player.player_position }}</div>
    <div>Plays from Scrimmage: &emsp;{{ player.plays_from_scrimmage }}</div>
    <div>Yards from Scrimmage: &emsp;{{ player.yards_from_scrimmage }}</div>
    <div>Average Yards per Play from Scrimmage: &emsp;{{ player.ave_yards_per_play_from_scrimmage }}</div>
    <div>Touchdowns from Scrimmage: &emsp;{{ player.tds_from_scrimmage }}</div>
    <br>
{% endfor %}
</body>
</html>